.carousel {
  width: 100%;
  position: relative;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 20%;
  margin: auto 30px;
  max-width: 1920px;
}

.character-card {
  display: flex;
  margin: 10px;
  background-color: #4e4466;
  border-radius: 5px;
  width: 600px;
  height: 220px;
  color: white;
  transition: 0.5s;
}

.character-card:hover {
  transition: 0.5s;
  transform: translateX(1%);
}

.character-card-img {
  flex: 2 1 0%;
}

.character-card-img > img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  opacity: 1;
  transition: 0.3s;

  animation: fadeIn 0.5s ease-in;
}

.character-card-details {
  flex: 3 1 0%;
  margin: 0 20px;
}

.mouse-over {
  color: #77d902;
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.arrow {
  border: 3px solid white;
  width: 10px;
  height: 10px;
  position: absolute;
  border-bottom: transparent;
  border-right: transparent;
  top: 50%;
  margin: 0 15px;
}

.left {
  transform: rotateZ(-45deg);
}

.left:hover {
  transition: 0.2s;
  border-color: #77d902;
}

.right {
  right: 0;
  transform: rotateZ(135deg);
}

.right:hover {
  transition: 0.2s;
  border-color: #77d902;
}
