/*
Color Scheme
Dark Purple		  -	#1C141F
Purple		    	-	#291F3D
Lighter Purple	-	#4E4466

Mouse Over Text Color	- #77D902
*/

html,
body {
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

footer {
  display: flex;
  background-color: #1c141f;
  width: 100%;
  box-shadow: 0 50vh 0 50vh #1c141f;
}
