/*
Color Scheme
Dark Purple   -	#1C141F
Purple	      -	#291F3D
Dark Blue     -	#4E4466
*/

html,
body {
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

p {
  /* font-family: "Open Sans", sans-serif; */
}

header {
  background-color: #1c141f;
  width: 100%;
  height: 500px;
}
